body {
    background-color: #f6f6f6;
    color: rgb(11, 11, 11);
    padding: 128px;
    text-align: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

#title {
    font-weight: 100;
}

#citySelectElement {
    padding: 8px;
    border: 1px solid rgb(87, 87, 87);
    border-radius: 5px;
    margin: 16px;
}

#weeklyCardElements {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    flex: 0 0 auto;
    text-align: center;
    border: 1px solid rgb(78, 78, 78);
    border-radius: 5px;
    width: 180px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: azure;
}

.cardBanner {
    background-color: rgb(173, 185, 227); 
    height: 120px;
    width: 180px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 16px;
}

.weatherText {
    font-weight: 600;
    color: white;
}

.tempMaxText {
    color: white;
}  

.tempMinText {
    color: white;
}

.dateText {
    font-weight: 100;
}